* {
    margin: 0;
    padding: 0;
    font-family: myFont;
    src: url(./Dragonlord_PERSONAL_USE_ONLY.otf);
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(./Untitled.png);
    background-position: center;
    background-size: cover;
    padding: 0 5%;
    position: relative;
    text-align: center;
}

.content {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #F44336;
    display: flex;
    flex-direction: row;
    align-items: center; /* Center the content horizontally */
}

.ring {
    height: 50vh;
    width: 40vw;
    background-image: url('./svg.gif');
    background-size: cover;
    background-position: center;
    z-index: 50;
    position: relative;
    justify-content: center;
    text-align: center;
}

.ring h1 {
    font-size: 60px;
    font-weight: 500;
    margin: 0; /* Remove default margin */
    padding-top: 125px;
}

.launch-time {
    display: flex;
    padding-left: 200px; /* Adjust as needed */
}

.launch-time div {
    flex-basis: 100px;
}

.launch-time div p {
    font-size: 65px;
    margin-bottom: -14px;
    padding: 10px;
}

.launch-time span {
    padding: 10px;
}
@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
    }

    .launch-time {
        padding-left: 0;
    }

    .launch-time div {
        flex-basis: auto;
        margin-bottom: 10px;
    }

    .ring h1 {
        padding-top: 20px;
    }
}
